@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

.search-firm-inline {
  display: block;
  margin: 5% calc(50% - 146px);
}
p {
  margin-bottom: 0.3rem;
  word-break: break-all;
}
.form-control {
  max-width: 200px;
  display: inline-block;
}
.button_pretiffy {
  margin-left: 5px;
  margin-top: -6px;
}
